[user]
  name = Ian Anderson
  email = getfatday@gmail.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHQCDl9wUFLPF1cvH4+PAXir0HcGu/ZtZmIkq9o1zky2

[includeIf "hasconfig:remote.*.url:*github.com:eg-internal/**"]
  path = ~/.config/git/config-work

[core]
  editor = vi
  excludesfile = ~/.config/git/ignore
  autocrlf = input

[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto

[init]
  defaultBranch = main

[credential]
  helper = osxkeychain
[credential "https://github.com"]
  helper =
  helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper =
  helper = !/opt/homebrew/bin/gh auth git-credential

[push]
  default = simple

[pull]
  rebase = true

[rebase]
  autosquash = true

[diff]
  tool = Kaleidoscope
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
  prompt = false

[merge]
  tool = Kaleidoscope
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true
[mergetool]
  prompt = false

[alias]
  c = commit
  ca = commit -a
  cm = commit -m
  cam = commit -am
  d = diff
  dc = diff --cached
  l = log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit
  open = "!~/.local/bin/git-open"
  browse = "!~/.local/bin/git-open"

[web]
  browser = google-chrome
